{{#if page.cta}}
	<div id="cta">
{{/if}}

<section id="footer">
	<div class="wrapper">
		<footer>
			<div class="split">
				<a href="/" class="logo">
					<img src="/images/bolt_black.svg" alt="Lightning Bolt" class="logo">
				</a>

				<div>
					<p>(c) 2020 Spark Hackathon</p>
					<p>Licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></p>
				</div>
			</div>

			<a href="https://www.stab.org" target="_blank" class="stab">
				<img src="/images/stab/logo_black.png" alt="St. Anne's-Belfield">
			</a>
		</footer>
	</div>
</section>

{{#if page.cta}}
	</div>
{{/if}}