<section id="navigation">
	<div class="wrapper">
		<nav>
			<a href="/" class="logo">
				<img src="/images/bolt_black.svg" alt="Lightning Bolt" class="logo">
			</a>

			<a href="#" id="menuTrigger">&bullet;&bullet;&bullet;</a>

			<div id="links">
				<ol>
					<li><a href="/about-us" class="navLink">About Us</a></li>
					<li><a href="/faq" class="navLink">FAQ</a></li>
					<li><a href="/our-sponsors" class="navLink">Sponsors</a></li>
					<li><a href="#" class="navLink" id="darkToggle"></a></li>
				</ol>
			</div>
		</nav>
	</div>
</section>